<?xml version="1.0"?>
<robot name="exterior_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="camera_name" default="exterior_camera"/>
  <xacro:arg name="camera_x" default="0.8"/>
  <xacro:arg name="camera_y" default="-0.8"/>
  <xacro:arg name="camera_z" default="1.2"/>
  <xacro:arg name="camera_roll" default="0"/>
  <xacro:arg name="camera_pitch" default="0.4"/>
  <xacro:arg name="camera_yaw" default="2.35"/>

  <link name="world"/>

  <!-- Camera Link -->
  <link name="$(arg camera_name)_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <!-- Joint to fix camera in the world -->
  <joint name="$(arg camera_name)_joint" type="fixed">
    <parent link="world" />
    <child link="$(arg camera_name)_link" />
    <origin xyz="$(arg camera_x) $(arg camera_y) $(arg camera_z)" rpy="$(arg camera_roll) $(arg camera_pitch) $(arg camera_yaw)" />
  </joint>

  <!-- Gazebo Camera Plugin -->
  <gazebo reference="$(arg camera_name)_link">
    <sensor type="camera" name="$(arg camera_name)_sensor">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
      </camera>
      <plugin name="$(arg camera_name)_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>/$(arg camera_name)</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>$(arg camera_name)_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT2>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
</robot>